*{
	margin: 0;
	padding:0;
}
.head{

}
.head-main{
	height: 80px;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
}
.logo {
	text-decoration: none;
	color: #000;
	font-size: 48px;
	font-weight: 400;
	font-family: "Heiti SC";
	line-height: 80px;
}
.about {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-weight: 200;
	border: 2px solid #000;
	border-radius: 20px;
	padding: 3px 10px;
	font-family: "Heiti SC";
	height: 30px;
	line-height: 30px;
}
.banner-list{
	list-style: none;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
}
.banner-bings{
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
.banner-left{
	display: inline-block;
	background: url(../image/tuoyuan.png)no-repeat 100%;
	background-size: 100% 100%;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 250px;
	left: -60px;
}
.banner-right{
	display: inline-block;
	background: url(../image/jiantou.png)no-repeat 100%;
	background-size: 100% 100%;
	height: 30px;
	width: 20px;
	position: absolute;
	top: 250px;
	right: -60px;
}

.select{
	margin:30px 0; 
}
.select-main{
	display: flex;
	margin: 0 auto;
	height: 250px;
	width: 1000px;
	background: #999;
}
.select-building{
	display: inline-block;
	height: 250px;
	width: 500px;
	background: url(../image/city.png)no-repeat 100%;
	background-size: 100% 100%;
}
.select-building a{
	display: inline-block;
    background-color: rgba(255, 254, 254, 0.4);
    height: 250px;
    width: 500px;
    text-decoration: none;
    text-align: center;
    line-height: 250px;
    color: #fff;
    font-size: 50px;
    font-family: "Heiti SC";
}
.select-building a:hover{
	font-size: 60px;
	background-color: rgba(255, 254, 254, 0.1);
}
.select-figure{
	display: inline-block;
	height: 250px;
	width: 500px;
	background: url(../image/figure.jpg)no-repeat 100%;
	background-size: 100% 100%;
}
.select-figure a{
	display: inline-block;
    background-color: rgba(255, 254, 254, 0.3);
    height: 250px;
    width: 500px;
    text-decoration: none;
    text-align: center;
    line-height: 250px;
    color: #fff;
    font-size: 50px;
    font-family: "Heiti SC";
}
.select-figure a:hover{
	font-size: 60px;
	background-color: rgba(255, 254, 254, 0.1);
}
.introduce-main{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 1000px;
	padding: 30px

}
.border-img{
	display: inline-block;
	background: url(../image/tup.png)no-repeat 100%;
	background-size: 100% 100%;
	border:2px solid #0000009c;
	height: 370px;
	width: 280px;
	box-shadow: 10px 10px 5px #9999999c;
}
.introduce-text{
	text-align: right;
}
.introduce-text span{
	font-size: 90px;
	font-weight: 600px;
	box-shadow: 5px 5px 5px #999;
}
.introduce-text p{
	font-size: 30px;
	font-weight: 500px;
}
.introduce-text button{
	height: 35px;
	width: 100px;
	border:1px solid #000;
	border-radius: 5px;
	outline:0;
}
.introduce-text button:hover{
	box-shadow: 5px 5px 5px #999;
}
.footer-info-item{
	display: flex;
	justify-content: space-around;
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
	border-top: 2px solid #000; 

}
.footer-main{
	text-align: center;
	height: 20px;
	font-size: 15px;
	line-height: 20px;
	background: #999;
}
